# User-specific files
*.suo
*.user

# Visual Studio cache files
*.cache

# Visual Studio 2015+ cache and options
.vs/

# Visual C++ cache files
*.ncb
*.opendb
*.sdf
*.opensdf
*.ipch
*.db
*.aps

*.xcf

# Compilation results
build*/
code/lib/
code/pdb/
code/3rd-party/
gamedata/*
_build_/*
_i10e_/*
_lib_/*
